 body {
    background: rosybrown;
    font-family: Times New Roman, Times, serif;
 }
 h1 {
    color: darkred;
    text-align: center;
 }
.projects {
    display:flex;
      flex-wrap:wrap;} 
.project {
width: 40%;
margin: 20px;
padding: 20px 10px;
background: rgb(181, 181, 229); /* pick a color */
border-radius: 30%;
}
.project img{
width: 300px;
height: 400px;
margin: 10px;
border: 8px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}