 body {
    background: rosybrown;
    font-family: Times New Roman, Times, serif;
 }
 h1 {
    color: darkred;
    text-align: center;
 }
.projects {
    display:flex;
      flex-wrap:wrap;
   justify-content: center;
   align-items: flex-start;
   gap: 40px;
   } 
.project {
width: 40%;
margin: 20px;
padding: 30px 20px;
background: rgb(181, 181, 229); /* pick a color */
border-radius: 25%;
}
.project img{
width: 80%;
height: auto;
margin: 15px auto;
border: 8px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}
a { /* change the appearance of ALL links */
text-decoration: none;
color: purple;
}
.project p { /* change the appearance of paragraph tags inside .project divs */
text-align: center;
margin: 15px;
max-width: 300px;
}
.project{
   box-sizing:border-box;
   text-align: center;
   overflow-wrap: break-word;
   word-break: break-word;
   overflow: hidden;
}
.project p{
   max-width: 90%;
   margin: 15px auto;
   line-height: 1.4;
}